.u-section-1 .u-sheet-1 {
  min-height: 238px;
}

.u-section-1 .u-text-1 {
  margin: 20px 68px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-1 .u-repeater-1 {
  --gap: 51px;
  grid-auto-columns: calc(20% - 40.8px);
  grid-template-columns: repeat(5, calc(20% - 40.8px));
  min-height: 98px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 38px;
  height: 38px;
  margin: -48px -46px 10px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 38px;
  height: 38px;
  margin: -48px -46px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 8px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 38px;
  height: 38px;
  margin: -48px -46px 10px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-5 {
  margin: 8px 0 0;
}

.u-section-1 .u-shape-4 {
  width: 38px;
  height: 38px;
  margin: -48px -46px 10px auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-text-6 {
  margin: 8px 0 0;
}

.u-section-1 .u-shape-5 {
  width: 38px;
  height: 38px;
  margin: -48px -46px 10px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 143px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 34px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 34px));
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: -165px;
    margin-bottom: 34px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 25.5px);
    grid-template-columns: repeat(2, calc(50% - 25.5px));
    min-height: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 78px;
    margin-bottom: -118px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 257px;
}

.u-section-2 .u-list-1 {
  margin: 24px 0;
}

.u-section-2 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 209px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -16px;
    margin-top: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 485px;
  }
} .u-section-3 {
  min-height: 714px;
}

.u-section-3 .u-sheet-1 {
  min-height: 772px;
}

.u-section-3 .u-list-1 {
  margin-top: 23px;
  margin-bottom: 39px;
}

.u-section-3 .u-repeater-1 {
  --gap: 0px;
  grid-template-columns: repeat(2, 50%);
  min-height: 690px;
  grid-auto-columns: 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-13 {
  padding: 10px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-14 {
  padding: 10px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-15 {
  padding: 10px;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-16 {
  padding: 10px;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-17 {
  padding: 10px;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

.u-section-3 .u-container-layout-18 {
  padding: 10px;
}

.u-section-3 .u-text-18 {
  font-size: 1.25rem;
  margin: 0 auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 569px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 636px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 574px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-18 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 504px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-text-1 {
  margin: 21px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 614px;
}

.u-section-5 .u-text-1 {
  margin: 19px 0;
}